.App {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

.input-page {
  margin-left: 35%;
  margin-top: 200px;
}

.form-section {
  padding-bottom: 10px;
}

.submit-button {
  width: 130px;
}